
  @import url('https://fonts.googleapis.com/css?family=Poppins:300,400');
  @import url(//db.onlinewebfonts.com/c/d6ddad3aadf4b9621e9e30481575b0e0?family=CatalinaAnacapaSansW00-Rg);

  body {
    margin: 0;
    -webkit-perspective: 1000;
    font-family: 'Poppins', sans-serif;
    background: #fff;
  }

  body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  .welcome_text {
    font-family: 'CatalinaAnacapaSansW00-Rg';
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .welcome {
    width: 50%;
    margin: 0 auto;
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: inherit;
  }

  .logo {
    width: 250px;
  }

  h1 {
    color: #ffffff;
    font-size: 2em;
  }

  h2 {
    color: #353535;
    font-size: 2em;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #202020;
    text-decoration: none !important;
  }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #000;
    outline: none;
  }

  .overlay {
    background: linear-gradient(to top right, #fff, #575757);
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .grid {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .grid-line {
    height: 300vh;
    border-right: 1px solid #575757;
  }

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  /* @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  } */

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  #home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 30px;
  }

  #home .container {
    width: 100%;
  }

  .home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    /* height: 100vh; */
  }

  .nav-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  @media screen and (max-width: 480px) {

    .home-info {
      padding: 0 1em 0 1em;
    }

  }

  @media screen and (max-width: 360px) {

    h1 {
      font-size: 1.50em;
    }
  }

  label .menu {
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #D0D0D0;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #D0D0D0, 0 0 0 0 #D0D0D0;
    cursor: pointer;
    
  }
  
  label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  
  label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; }
  
  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #D0D0D0, 0 0 0 100vh #D0D0D0;
    border-radius: 0;
    
  }
  
  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }
  
  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    
  }
  
  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
    
  }
  
  label input:checked + .menu + ul { opacity: 1; }
  
  label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    list-style-type: none;
  }

  label ul li {
    text-align: center;
  }
  
  label a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }